In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Strings

In [ ]:
'I love tennis'

In [ ]:
'2.3'

In [ ]:
'2.3' + 4

In [ ]:
'2.3' * 4

In [ ]:
'be' + 'happy'

In [ ]:
str(2.3)

In [ ]:
int('2.3')

In [ ]:
float('2.3')

In [ ]:
int('23') + float('2.3')

In [ ]:
x = 12

In [ ]:
int(str(x) + '0')

<br><br><br><br><br><br><br><br><br><br><br><br>

## Minard's map

In [ ]:
minard = Table.read_table('minard.csv')

In [ ]:
minard

In [ ]:
minard.num_columns

In [ ]:
minard.num_rows

In [ ]:
minard.labels

In [ ]:
minard.column('Survivors')

In [ ]:
minard.column(4)

In [ ]:
initial_size = minard.column('Survivors').item(0)

In [ ]:
initial_size

In [ ]:
percentage_surviving = minard.column('Survivors')/initial_size

In [ ]:
percentage_surviving

In [ ]:
with_percentages = minard.with_column('Percent Surviving', percentage_surviving)

In [ ]:
with_percentages

In [ ]:
with_percentages.set_format('Percent Surviving', PercentFormatter)

<br><br><br><br><br><br><br><br><br><br><br><br>

## Lists

In [ ]:
2

In [ ]:
2.0

In [ ]:
make_array(2, 3.0)

In [ ]:
make_array(2, 3.0).item(0)

In [ ]:
make_array(2, 'three')

In [ ]:
make_array(2, 'three').item(0)

In [ ]:
[2, 'three']

In [ ]:
type([2, 'three'])

In [ ]:
flowers = Table.read_table('flowers.csv')

In [ ]:
flowers

In [ ]:
my_favorite_flower = [5, 'morning glory', 'purple']

In [ ]:
flowers.with_row(my_favorite_flower)

## Table operations: Take

In [ ]:
minard

In [ ]:
minard.take(0)

In [ ]:
minard.take([0, 1, 2, 3])

In [ ]:
np.arange(0, 4)

In [ ]:
minard.take(np.arange(0,4))

<br><br><br><br><br><br><br><br><br><br><br><br>

## Table operations: where

In [ ]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
nba = Table.read_table('nba_salaries.csv')

In [ ]:
nba

In [ ]:
nba.sort('2015-2016 SALARY')

In [ ]:
nba = nba.relabeled('2015-2016 SALARY', 'SALARY')

In [ ]:
nba.sort('SALARY')

In [ ]:
nba.where('SALARY', are.above(10))

In [ ]:
nba.where('SALARY', are.above(10)).sort('SALARY')

In [ ]:
nba.where('SALARY', are.between(10, 11))

In [ ]:
nba.where('TEAM', are.equal_to('Toronto Raptors'))

In [ ]:
nba.where('TEAM', 'Toronto Raptors')

In [ ]:
nba.where('TEAM', are.containing('Raptors'))

In [ ]:
nba.where('PLAYER', are.equal_to('Stephen Curry'))

In [ ]:
nba.where('TEAM', are.equal_to('Golden State Warriors'))

In [ ]:
nba.where('TEAM', are.equal_to('Golden State Warriors')).sort('SALARY', descending=True)

In [ ]:
nba.where('SALARY', are.between(10, 12))