In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Comparison and bool values

**Please run all cells before this cell, including the import cell at the top of the notebook.**

In [ ]:
x = 3
y = 4
x > y

In [ ]:
10/2 != y

In [ ]:
'Dog' > 'Cat'

In [ ]:
'Dog' > 'Catastrophe' > 'Cat'

In [ ]:
a = np.arange(11, 50)
a

In [ ]:
a > 30

In [ ]:
a == 15

In [ ]:
def teen(x):
    return 13 <= x <= 19

[teen(10), teen(15), teen(20)]

In [ ]:
ages = Table().with_column('Age', a)
ages = ages.with_column('Teenager', ages.apply(teen, 'Age'))
ages

## Combining bools

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
[x, y]

In [ ]:
x < 2 or y > 4

In [ ]:
not (x < 2 or x > 4)

In [ ]:
True + True

In [ ]:
(3 > 2) + (2 > 1)

In [ ]:
False + False + False

In [ ]:
sum([False, True, True, False, True])

In [ ]:
ages

In [ ]:
ages.column(1)

In [ ]:
sum(ages.column(1))

## Predicates

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
ages

In [ ]:
still_young = are.between(35, 40)
ages.where('Age', still_young)

In [ ]:
still_young(38)

In [ ]:
still_young(40)

In [ ]:
ages.apply(still_young, 'Age')

In [ ]:
sum(ages.apply(still_young, 'Age'))

In [ ]:
ages.where('Age', teen)

## Choice

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
two_groups = make_array('treatment', 'control')
np.random.choice(two_groups)

In [ ]:
np.random.choice(two_groups, 10)

In [ ]:
np.random.choice(two_groups, 10)

In [ ]:
outcomes = np.random.choice(two_groups, 10)
outcomes

In [ ]:
outcomes

In [ ]:
outcomes == 'control'

In [ ]:
# sum(outcomes)

In [ ]:
sum(outcomes == 'control')

In [ ]:
sum(outcomes == 'treatment')

## Discussion Question

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
outcomes = np.random.choice(np.arange(6)+1, 1000) + np.random.choice(np.arange(6)+1, 1000)
Table().with_column("Outcome", outcomes).group(0).bar('Outcome')

## Print

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
def double(x):
    print('doubling', x)
    return 2 * x

def square(x):
    print('squaring', x)
    return x * x

double(square(double(5)))

In [ ]:
print('one', end=' long ')
print('line')

## Conditional Statements

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
def sign(x):
    print(x, 'is', end=' ')
    if x > 0:
        print('positive')
    if x < 0:
        print('negative')
    if x == 0:
        print('zero')

sign(3)
sign(-3)
sign(0)

In [ ]:
def sign(x):
    print(x, 'is', end=' ')
    if x > 1e-15:
        print('positive')
    elif x < -1e-15:
        print('negative')
    elif x == 0:
        print('zero')
    else:
        print('really close to zero')

sign(3)
sign(-3)
sign(0)
sign(2**0.5 * 2 **0.5 - 2)

## For Statements

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
np.append(make_array(1, 2, 3), 4)

In [ ]:
np.append(make_array(1, 2, 3), 'four')

In [ ]:
np.append(make_array(1, 2, 3), make_array(4, 5, 6))

In [ ]:
np.arange(4)

In [ ]:
for i in np.arange(4):
    print('iteration', i)

In [ ]:
coin = make_array('heads', 'tails')
np.random.choice(coin)

In [ ]:
sum(np.random.choice(coin, 100) == 'heads')

In [ ]:
num_heads = make_array(sum(np.random.choice(coin, 100) == 'heads'))
num_heads

In [ ]:
num_heads = np.append(num_heads, sum(np.random.choice(coin, 100) == 'heads'))
num_heads

In [ ]:
for i in np.arange(10000):
    num_heads = np.append(num_heads, sum(np.random.choice(coin, 100) == 'heads'))
num_heads

In [ ]:
len(num_heads)

In [ ]:
t = Table().with_column('Heads in 100 coin flips', num_heads)
t.hist(bins=np.arange(30, 70, 1))

In [ ]:
most = t.group(0).where(0, are.between(40, 60))
most

In [ ]:
sum(most.column('count')) / t.num_rows * 100